// molecules
@import "../molecules/barra-redes-sociais.scss";
// Organisms
@import "../organisms/header.scss";
@import "../organisms/footer.scss";
@import "../organisms/sidebar.scss";
@import "../organisms/mini-articles.scss";
@import "../organisms/carousel.scss";
.container{
  padding: 0px;
}
.col-lg-8{
  padding-left: 0px;
}
@media(max-width: 440px){
  .menu{
    display: none;
  }
  .carousel{
    display: none;
  }
  .mini-artigos p, h1{
    padding-left: 10px;
    width: auto;
  }
  .mini-artigos{
  }
}
