.carousel{
  margin-bottom: 20px;
}
.carousel-inner .item{
  background-color: $preto;
  height: 240px;
}
.carousel-inner .item img{
  height: 100%;
}
.imagem-carousel{
  background-repeat: no-repeat;
  background-size:contain;
  //width: 100%;
  height: 250px;

}
.carousel-control{
  width: 100px;
  opacity: 0;
}
.carousel-control span{
  margin-top: 110px;
  font-size: 20pt;

}
.carousel-control:hover{
  opacity: 1;
}
