footer{
  background-color: #032a3a;
  min-height: 75px;
}
footer p{
  color: $branco;
  text-align: center;
  margin-top: 17px;
  margin-bottom: 13px;

}
footer ul{
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
footer p a{
  color: $branco;
}
