.thumb-inicial{
  background: url("../../imagens/imagem-thumb-pagina-inicial.jpg") no-repeat; background-size:contain;
  width: 100%;
  height: 250px;
}
.thumb-inicial:hover{
  opacity: 0.8;
  transition: all 0.35s linear;
}
.mini-artigos h1{
  font-size: 15pt;
  font-weight: $bold;
  text-transform: uppercase;
}
.mini-artigos h1:hover{
  color: $azul-escuro;
}
.mini-artigos li{
  padding: 0 15px 15px 15px;
}
.mini-artigos p{
  width: 355px;
}
